In [1]:
import pandas as pd
from functions.analysis_and_plots import (preprocessing, train_test_split, 
 exp_smoothing_model,  rms_error_calc, load_model, predict_with_model, cumulative_addition, get_tables_from_sheet,create_df,sum_columns,subtract_dataframes, Simulations, update_spending_df)

In [2]:




# Load the Excel file
file_path = 'CFF.xlsx'
sheet_name = 'CFF'

tables = get_tables_from_sheet(file_path, sheet_name)


revenus = tables[0]
depenses = tables[2]

index_depenses = depenses["Date"][1:]


index_revenus = ["salaire"]

In [3]:
revenus

,Date,2024-12-29 00:00:00,2024-12-22 00:00:00,2024-12-15 00:00:00,2024-12-08 00:00:00,2024-12-01 00:00:00,2024-11-24 00:00:00,2024-11-17 00:00:00,2024-11-10 00:00:00,2024-11-03 00:00:00,...,2024-09-08 00:00:00,2024-09-01 00:00:00,2024-08-25 00:00:00,2024-08-18 00:00:00,2024-08-11 00:00:00,2024-08-04 00:00:00,2024-07-28 00:00:00,2024-07-21 00:00:00,2024-07-14 00:00:00,2024-07-07 00:00:00
0,REVENUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Salaire,3500.0,NaN,NaN,NaN,3500.0,NaN,NaN,NaN,3500.0,...,3500.0,NaN,NaN,NaN,3500.0,NaN,NaN,NaN,NaN,NaN
2,Vente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Autres,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
depenses

,Date,2024-12-29 00:00:00,2024-12-22 00:00:00,2024-12-15 00:00:00,2024-12-08 00:00:00,2024-12-01 00:00:00,2024-11-24 00:00:00,2024-11-17 00:00:00,2024-11-10 00:00:00,2024-11-03 00:00:00,...,2024-09-08 00:00:00,2024-09-01 00:00:00,2024-08-25 00:00:00,2024-08-18 00:00:00,2024-08-11 00:00:00,2024-08-04 00:00:00,2024-07-28 00:00:00,2024-07-21 00:00:00,2024-07-14 00:00:00,2024-07-07 00:00:00
7,DEPENSES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Loyer,1200.00,NaN,NaN,NaN,1200.0,NaN,NaN,NaN,1200.0,...,1200.0,NaN,NaN,NaN,1200.0,NaN,NaN,NaN,1200.0,NaN
9,Restaurant,60.00,60.0,NaN,70.0,70.0,60.00,NaN,70.0,70.0,...,70.0,70.0,NaN,NaN,70.0,70.0,NaN,NaN,70.0,70.0
10,Telephone,NaN,30.0,NaN,NaN,NaN,NaN,30.0,NaN,NaN,...,NaN,NaN,NaN,30.0,NaN,NaN,NaN,30.0,NaN,NaN
11,Shopping,210.00,180.0,120.0,130.0,200.0,140.00,100.0,120.0,180.0,...,120.0,180.0,210.00,100.0,120.0,180.0,210.00,100.0,120.0,180.0
12,Coffee,5.00,5.0,NaN,NaN,5.0,NaN,5.0,NaN,NaN,...,NaN,NaN,5.00,5.0,NaN,NaN,5.00,5.0,NaN,NaN
13,Transports,NaN,50.0,50.0,50.0,50.0,50.00,50.0,50.0,50.0,...,50.0,100.0,NaN,NaN,50.0,100.0,NaN,NaN,50.0,100.0
14,Electricte,NaN,NaN,NaN,60.0,NaN,NaN,NaN,NaN,60.0,...,NaN,60.0,NaN,NaN,NaN,60.0,NaN,NaN,NaN,60.0
15,Netflix,15.99,NaN,NaN,NaN,NaN,15.99,NaN,NaN,NaN,...,NaN,NaN,15.99,NaN,NaN,NaN,15.99,NaN,NaN,NaN
16,Divers Amazon,NaN,120.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,120.0,NaN,NaN,NaN,120.0,NaN,NaN
17,Salle de sport,NaN,NaN,NaN,40.0,NaN,NaN,NaN,40.0,NaN,...,40.0,NaN,NaN,NaN,40.0,NaN,NaN,NaN,40.0,NaN
18,Divers,NaN,NaN,45.0,NaN,30.0,NaN,45.0,NaN,NaN,...,45.0,NaN,NaN,NaN,45.0,NaN,NaN,NaN,45.0,NaN
19,Autres,NaN,NaN,80.0,NaN,NaN,NaN,80.0,NaN,30.0,...,NaN,30.0,NaN,80.0,NaN,30.0,NaN,80.0,NaN,30.0

In [5]:
df_revenus = preprocessing(revenus)
df_depense = preprocessing(depenses)

In [6]:
df_revenus

,2024-12-29,2024-12-22,2024-12-15,2024-12-08,2024-12-01,2024-11-24,2024-11-17,2024-11-10,2024-11-03,2024-10-27,...,2024-09-08,2024-09-01,2024-08-25,2024-08-18,2024-08-11,2024-08-04,2024-07-28,2024-07-21,2024-07-14,2024-07-07
1,3500.0,,,,3500.0,,,,3500.0,,...,3500.0,,,,3500.0,,,,,

In [7]:
df_depense

,2024-12-29,2024-12-22,2024-12-15,2024-12-08,2024-12-01,2024-11-24,2024-11-17,2024-11-10,2024-11-03,2024-10-27,...,2024-09-08,2024-09-01,2024-08-25,2024-08-18,2024-08-11,2024-08-04,2024-07-28,2024-07-21,2024-07-14,2024-07-07
8,1200.0,,,,1200.0,,,,1200.0,,...,1200.0,,,,1200.0,,,,1200.0,
9,60.0,60.0,,70.0,70.0,60.0,,70.0,70.0,60.0,...,70.0,70.0,,,70.0,70.0,,,70.0,70.0
10,,30.0,,,,,30.0,,,,...,,,,30.0,,,,30.0,,
11,210.0,180.0,120.0,130.0,200.0,140.0,100.0,120.0,180.0,290.0,...,120.0,180.0,210.0,100.0,120.0,180.0,210.0,100.0,120.0,180.0
12,5.0,5.0,,,5.0,,5.0,,,5.0,...,,,5.0,5.0,,,5.0,5.0,,
13,,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,50.0,100.0,,,50.0,100.0,,,50.0,100.0
14,,,,60.0,,,,,60.0,,...,,60.0,,,,60.0,,,,60.0
15,15.99,,,,,15.99,,,,15.99,...,,,15.99,,,,15.99,,,
16,,120.0,,,,,,,,,...,,,,120.0,,,,120.0,,
17,,,,40.0,,,,40.0,,,...,40.0,,,,40.0,,,,40.0,
18,,,45.0,,30.0,,45.0,,,,...,45.0,,,,45.0,,,,45.0,
19,,,80.0,,,,80.0,,30.0,,...,,30.0,,80.0,,30.0,,80.0,,30.0

In [8]:
dataframe_revenus = create_df(df_revenus,"REVENUS",index_revenus)
dataframe_depenses = create_df(df_depense,"DEPENSES",index_depenses)

In [9]:
dataframe_revenus

,2024-12-29,2024-12-22,2024-12-15,2024-12-08,2024-12-01,2024-11-24,2024-11-17,2024-11-10,2024-11-03,2024-10-27,...,2024-09-08,2024-09-01,2024-08-25,2024-08-18,2024-08-11,2024-08-04,2024-07-28,2024-07-21,2024-07-14,2024-07-07
REVENUS,,,,,,,,,,,,,,,,,,,,,
salaire,3500.0,,,,3500.0,,,,3500.0,,...,3500.0,,,,3500.0,,,,,

In [10]:
dataframe_depenses

,2024-12-29,2024-12-22,2024-12-15,2024-12-08,2024-12-01,2024-11-24,2024-11-17,2024-11-10,2024-11-03,2024-10-27,...,2024-09-08,2024-09-01,2024-08-25,2024-08-18,2024-08-11,2024-08-04,2024-07-28,2024-07-21,2024-07-14,2024-07-07
DEPENSES,,,,,,,,,,,,,,,,,,,,,
Loyer,1200.0,,,,1200.0,,,,1200.0,,...,1200.0,,,,1200.0,,,,1200.0,
Restaurant,60.0,60.0,,70.0,70.0,60.0,,70.0,70.0,60.0,...,70.0,70.0,,,70.0,70.0,,,70.0,70.0
Telephone,,30.0,,,,,30.0,,,,...,,,,30.0,,,,30.0,,
Shopping,210.0,180.0,120.0,130.0,200.0,140.0,100.0,120.0,180.0,290.0,...,120.0,180.0,210.0,100.0,120.0,180.0,210.0,100.0,120.0,180.0
Coffee,5.0,5.0,,,5.0,,5.0,,,5.0,...,,,5.0,5.0,,,5.0,5.0,,
Transports,,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,50.0,100.0,,,50.0,100.0,,,50.0,100.0
Electricte,,,,60.0,,,,,60.0,,...,,60.0,,,,60.0,,,,60.0
Netflix,15.99,,,,,15.99,,,,15.99,...,,,15.99,,,,15.99,,,
Divers Amazon,,120.0,,,,,,,,,...,,,,120.0,,,,120.0,,
Salle de sport,,,,40.0,,,,40.0,,,...,40.0,,,,40.0,,,,40.0,
Divers,,,45.0,,30.0,,45.0,,,,...,45.0,,,,45.0,,,,45.0,
Autres,,,80.0,,,,80.0,,30.0,,...,,30.0,,80.0,,30.0,,80.0,,30.0

In [11]:

total_depenses =  sum_columns(dataframe_depenses)
print(total_depenses)

          Week  Balance
0   2024-12-29  1490.99
1   2024-12-22   445.00
2   2024-12-15   295.00
3   2024-12-08   350.00
4   2024-12-01  1555.00
5   2024-11-24   265.99
6   2024-11-17   310.00
7   2024-11-10   280.00
8   2024-11-03  1590.00
9   2024-10-27   420.99
10  2024-10-20   335.00
11  2024-10-13   325.00
12  2024-10-06  1640.00
13  2024-09-29   230.99
14  2024-09-22   420.99
15  2024-09-15   335.00
16  2024-09-08  1525.00
17  2024-09-01   440.00
18  2024-08-25   230.99
19  2024-08-18   335.00
20  2024-08-11  1525.00
21  2024-08-04   440.00
22  2024-07-28   230.99
23  2024-07-21   335.00
24  2024-07-14  1525.00
25  2024-07-07   440.00

In [12]:
total_revenus = sum_columns(dataframe_revenus)
print(total_revenus)

          Week  Balance
0   2024-12-29   3500.0
1   2024-12-22      0.0
2   2024-12-15      0.0
3   2024-12-08      0.0
4   2024-12-01   3500.0
5   2024-11-24      0.0
6   2024-11-17      0.0
7   2024-11-10      0.0
8   2024-11-03   3500.0
9   2024-10-27      0.0
10  2024-10-20      0.0
11  2024-10-13      0.0
12  2024-10-06   3500.0
13  2024-09-29      0.0
14  2024-09-22      0.0
15  2024-09-15      0.0
16  2024-09-08   3500.0
17  2024-09-01      0.0
18  2024-08-25      0.0
19  2024-08-18      0.0
20  2024-08-11   3500.0
21  2024-08-04      0.0
22  2024-07-28      0.0
23  2024-07-21      0.0
24  2024-07-14      0.0
25  2024-07-07      0.0

In [13]:
df_main = subtract_dataframes(total_revenus,total_depenses)
print(df_main)

          Week  Balance
0   2024-12-29  2009.01
1   2024-12-22  -445.00
2   2024-12-15  -295.00
3   2024-12-08  -350.00
4   2024-12-01  1945.00
5   2024-11-24  -265.99
6   2024-11-17  -310.00
7   2024-11-10  -280.00
8   2024-11-03  1910.00
9   2024-10-27  -420.99
10  2024-10-20  -335.00
11  2024-10-13  -325.00
12  2024-10-06  1860.00
13  2024-09-29  -230.99
14  2024-09-22  -420.99
15  2024-09-15  -335.00
16  2024-09-08  1975.00
17  2024-09-01  -440.00
18  2024-08-25  -230.99
19  2024-08-18  -335.00
20  2024-08-11  1975.00
21  2024-08-04  -440.00
22  2024-07-28  -230.99
23  2024-07-21  -335.00
24  2024-07-14 -1525.00
25  2024-07-07  -440.00

In [14]:
train_data, test_data = train_test_split(df_main, split_index=24)

**Triple explonential smoohting model fit**

In [15]:
preds_triple = exp_smoothing_model(train_data, test_data, model='triple')

In [16]:
triple_rms = rms_error_calc(test_data, preds_triple)
print(" Root Mean Square Error of triple exponential method is:", triple_rms)

 Root Mean Square Error of triple exponential method is: 2444.06173463665

In [17]:
# Charger le modèle pré-entraîné
loaded_model = load_model(filename='trained_exp_smoothing_model.pkl')



# Prédire sur plusieurs semaines pour le nouveau client
predictions = predict_with_model(loaded_model, df_main, weeks_ahead=4)

flux_forecast = []

flux_forecast = predictions['Predicted_Balance']


forecast_balance = cumulative_addition(flux_forecast,1564.01)
solde_before = cumulative_addition(df_main['Balance'],1564.01)

#print(forecast_balance)
#print(solde_before)

# Créer le tableau à deux lignes
result = [solde_before + [''] * (len(forecast_balance) - 1), [''] * len(solde_before) + forecast_balance]

print(result)

[[3573.02, 3128.02, 2833.02, 2483.02, 4428.02, 4162.030000000001, 3852.0300000000007, 3572.0300000000007, 5482.030000000001, 5061.040000000001, 4726.040000000001, 4401.040000000001, 6261.040000000001, 6030.050000000001, 5609.060000000001, 5274.060000000001, 7249.060000000001, 6809.060000000001, 6578.0700000000015, 6243.0700000000015, 8218.070000000002, 7778.0700000000015, 7547.080000000002, 7212.080000000002, 5687.080000000002, 5247.080000000002, '', '', ''], ['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 3493.7712592845846, 3161.0100898293776, 2798.201696606935, 2454.511213220051]]

In [18]:
data = [
     {"Description": "adidas", "Category" : "clothes" ,"Amount": 100,"Date": "2025-01-31"},
     {"Description": "adidas", "Category" : "clothes","Amount": 200, "Date": "2025-01-24" },
]
initial_balance = 1564.01
model_filename = 'trained_exp_smoothing_model.pkl'
simumulation_result = Simulations(data, initial_balance, model_filename,df_main)
print(simumulation_result)

[3793.7712592845846, 3461.0100898293776, 3098.201696606935, 2754.511213220051]

In [20]:
from datetime import datetime

dataframe_depenses = update_spending_df(dataframe_depenses, 'Shopping', 100, '2025-03-01')
dataframe_depenses = update_spending_df(dataframe_depenses, 'Shopping', 150, '2025-05-01')


dataframe_depenses.columns = [col.date() if isinstance(col, datetime) else col for col in dataframe_depenses.columns]


# Display the updated DataFrame
print(dataframe_depenses)

                 2024-07-07  2024-07-14  2024-07-14  2024-07-21  2024-07-21  \
DEPENSES
Loyer                   0.0      1200.0           0         0.0           0
Restaurant             70.0        70.0           0         0.0           0
Telephone               0.0         0.0           0        30.0           0
Shopping              180.0       120.0           0       100.0           0
Coffee                  0.0         0.0           0         5.0           0
Transports            100.0        50.0           0         0.0           0
Electricte             60.0         0.0           0         0.0           0
Netflix                 0.0         0.0           0         0.0           0
Divers Amazon           0.0         0.0           0       120.0           0
Salle de sport          0.0        40.0           0         0.0           0
Divers                  0.0        45.0           0         0.0           0
Autres                 30.0         0.0           0        80.0           0

                 2024-07-28  2024-07-28  2024-08-04  2024-08-04  2024-08-11  \
DEPENSES
Loyer                  0.00           0         0.0           0      1200.0
Restaurant             0.00           0        70.0           0        70.0
Telephone              0.00           0         0.0           0         0.0
Shopping             210.00           0       180.0           0       120.0
Coffee                 5.00           0         0.0           0         0.0
Transports             0.00           0       100.0           0        50.0
Electricte             0.00           0        60.0           0         0.0
Netflix               15.99           0         0.0           0         0.0
Divers Amazon          0.00           0         0.0           0         0.0
Salle de sport         0.00           0         0.0           0        40.0
Divers                 0.00           0         0.0           0        45.0
Autres                 0.00           0        30.0           0         0.0

                 ...  2025-03-02  2025-03-09  2025-03-16  2025-03-23  \
DEPENSES         ...
Loyer            ...           0           0           0           0
Restaurant       ...           0           0           0           0
Telephone        ...           0           0           0           0
Shopping         ...         200           0           0           0
Coffee           ...           0           0           0           0
Transports       ...           0           0           0           0
Electricte       ...           0           0           0           0
Netflix          ...           0           0           0           0
Divers Amazon    ...           0           0           0           0
Salle de sport   ...           0           0           0           0
Divers           ...           0           0           0           0
Autres           ...           0           0           0           0

                 2025-03-30  2025-04-06  2025-04-13  2025-04-20  2025-04-27  \
DEPENSES
Loyer                     0           0           0           0           0
Restaurant                0           0           0           0           0
Telephone                 0           0           0           0           0
Shopping                  0           0           0           0           0
Coffee                    0           0           0           0           0
Transports                0           0           0           0           0
Electricte                0           0           0           0           0
Netflix                   0           0           0           0           0
Divers Amazon             0           0           0           0           0
Salle de sport            0           0           0           0           0
Divers                    0           0           0           0           0
Autres                    0           0           0           0           0

                 2025-05-04
DEPENSES
Loyer                     0
Restaurant                0
Telephone                 0
Shopping                300
Coffee                    0
Transports                0
Electricte                0
Netflix                   0
Divers Amazon             0
Salle de sport            0
Divers                    0
Autres                    0

[12 rows x 69 columns]